@* In Views/Admin/Dashboard.cshtml *@

<h3 class="mt-4">Management Links</h3>
<div class="list-group mt-3">
    <a asp-controller="Car" asp-action="Index" class="list-group-item list-group-item-action">
        🚗 Manage Cars
    </a>
    <a asp-controller="Booking" asp-action="Index" class="list-group-item list-group-item-action">
        📋 View All Bookings
    </a>
    @*<a href="#" class="list-group-item list-group-item-action">Manage Users</a>*@
</div>